{%- set submitValue = (form.submitButtonText ? form.submitButtonText : "Submit"|t) -%}
{%- set submitAction = (form.submitAction ? form.submitAction : "sproutForms/entries/saveEntry") -%}

{% if form.submitAction %}

{# Submit form to third party #}
<form method="post" accept-charset="utf-8" enctype="multipart/form-data">
	<input type="hidden" name="action" value="{{ submitAction }}">

{% else %}

{# Submit form to Sprout Forms #}
<form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
	{{ getCsrfInput() }}
	<input type="hidden" name="action" value="{{ submitAction }}">
	<input type="hidden" name="handle" value="{{ form.handle }}">

{% endif %}
	
	{% if form.redirectUri %}
	<input type="hidden" name="redirect" value="{{ form.redirectUri }}">
	{% endif %}

	<div class="fields">
	{{ body | raw }}
	</div>

	{% hook 'sproutForms.modifyForm' %}
	
	<div class="submit">
		<input type="submit" value="{{ submitValue }}">
	</div>

</form>